.sidebar_container {
    position: relative;
    left: 0;
    width: 12rem;
    border-right: .25rem solid #444;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    overflow-y: auto;
}

.sidebar_container a {
    margin-top: 1rem;
    font-family: Calibri;
    font-weight: bold;
    font-size: 14pt;
    border-bottom: .1rem solid #444;
}

@media (prefers-color-scheme: dark) {
    .sidebar_container {
        border-right: .25rem solid #AAA;
    }
    .sidebar_container a {
        border-bottom: .1rem solid #AAA;
    }
}

@media only screen and (max-width: 650px) {
    .sidebar_container {
        display: none;
    }
}
